html, body {
	height: 100%;
}

body > .container {
	min-height: 100%;
	position: relative;
}

.page-header {
	margin-top: 25px;

	h1 {
		font-size: 4em;
		margin: 0;
	}
}

.page-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

hgroup {
	h1, h2, h3, h4, h5, h6 {
		&:first-child {
			margin-bottom: 5px;
		}

		&:last-child {
			margin-top: 0;
			margin-bottom: 15px;
		}
	}
}