@import "../app-bootstrap/mixins.lessimport";
@import "../app-bootstrap/variables.lessimport";

.idea {
	.check {
		&.checked {
			background-color: @brand-success;
		}

		input {
			vertical-align: middle;
		}

		&, input {
			cursor: pointer;
		}
	}

	.input-group-lg > .input-group-btn.del > .btn {
		font-size: 28px;
		padding: 8px 16px;
	}
}

hgroup.add-idea {
	h2 {
		margin-bottom: 5px;
	}

	h6 {
		margin-top: 0;
		margin-bottom: 15px;
	}
}